.header__links {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 47.37px;
  padding-bottom: 47.37px;
}

.header__links:nth-child(4n)
{
  padding-right: 0;
}