.find-now__subtitle {
  margin: 0 auto;
  font-family: 'Gilroy';
  font-size: 20px;
  line-height: 140.62%;
  color: #000;
  position: absolute;
  min-height: 57px;
  width: 422px;
  top: 396px;
  left: 162px;
  right: 856px;
  bottom: 247px;
}