.header__button_border-box {
  box-sizing: border-box;
  height: 43.5px;
  width: 150px;

  position: absolute;
  left: 1256px;
  right: 34px;
  top: 36.73px;
  bottom: 35.77px;

  border: 1px solid #f7941e;
  border-radius: 5px;
}
